[submodule "Code Like a Pro in Rust"]
  path = Code Like a Pro in Rust
  url = https://github.com/brndnmtthws/code-like-a-pro-in-rust-book.git
[submodule "Hands-on Rust"]
  path = Hands-on Rust
  url = https://github.com/thebracket/HandsOnRust.git
[submodule "Real-Time Communication with WebRTC"]
  path = Real-Time Communication with WebRTC
  url = https://github.com/spromano/WebRTC_Book.git
[submodule "Rust in Action"]
  path = Rust in Action
  url = https://github.com/rust-in-action/code.git
[submodule "코드팩토리의 플러터 프로그래밍, 2판"]
  path = 코드팩토리의 플러터 프로그래밍, 2판
  url = https://github.com/codefactory-co/flutter-golden-rabbit-novice-v2
[submodule "클론 코딩 줌"]
  path = 클론 코딩 줌
  url = https://github.com/penguingoon89/noom.git
